main {
  display: grid;
  grid-template-areas: "1 2 3 4";
  border: 1rem dashed peru;
}

main > .slots {
  border: 2px solid rgb(202, 177, 152);
  width: 2em;
  height: 2em;
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes hover-animation {
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(0.9);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.slots:focus,
.slots:hover {
  animation-name: hover-animation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  border: 3px dashed rgba(180, 96, 12, 0.74);
}

#reset {
  position: absolute;
  border-radius: 10%;
  font-size: 1.4rem;
  padding: 12px;
  background-color: rgba(241, 130, 20, 0.87);
  color: white;
}
