main {
  display: grid;
  grid-template-areas: "1 2 3 4 5 6 7 8";
  border: 1rem dashed peru;
}

main > div {
  border: 2px solid rgb(202, 177, 152);
  width: 5rem;
  height: 5rem;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#reset {
  position: absolute;
  border-radius: 10%;
  font-size: 1.4rem;
  padding: 12px;
  background-color: rgba(241, 130, 20, 0.87);
  color: white;
}
